* {
    margin: 0;
    padding: 0;
}

#root #swt-dashboard {
    display: flex;
}

#swt-dashboard .swt-sidebar {
    flex: 0 1 20%;
    background: #80808094;
    height: 100%;
}

#swt-dashboard .swt-admin-content {
    flex: 0 1 80%;
    background: #80808033;
}

.swt-sidebar .sidebar-item {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.swt-sidebar .sidebar-item:hover {
    color: white;
}

.swt-sidebar .sidebar-list-item {
    padding: 15px;
    border-bottom: 1px solid beige;
}

.swt-sidebar .sidebar-list-item:hover {
    background: #80808094;
}

#swt-dashboard .swt-admin-content.posts {
    padding: 20px;
}

.swt-admin-content.posts .add-new-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.swt-admin-content.posts .add-new-label {
    font-size: 15px;
    font-weight: 500;
}

.swt-admin-content.posts .add-new-button {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

.post-list-header .post-lists,
.post-list-content .post-contents{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.post-list-header .post-lists .post-list,
.post-list-content .post-contents .post-content {
    list-style: none;
}