/*
---------------------------
Index
---------------------------
*/
  #root .custom-body{
    margin: 0 100px;
  }

  #root h1 {
    text-align: center;
  }

  #root .start-game .start-game-label{
    border-radius: 5px;
    background: green;
    padding: 10px;
    color: white;
  }
  
  #root .players{
    display: none;
  }

  #root .game {
    display: flex;
    gap: 5px;
  }

  #root span.end-game-label{
    color: white;
    background: red;
    padding: 10px;
    border-radius: 5px;
  }



  /*
  ----------------------
  Menu
  ----------------------
  */
  .menu-wrap {
    display: flex;
    gap: 500px;
    background: #10ad10;
    justify-content: space-evenly;
  }

  .menu-wrap ul.menu {
    list-style: none;
    display: flex;
    gap: 50px;
  }

  .menu-wrap input#search_button {
    padding: 5px;
    width: 110px;
  }

  .menu-wrap .search-wrap{
    display: flex;
    gap: 10px;
  }

  .menu-wrap .search-wrap label {
    background: green;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.menu-wrap .menu-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}