/*
  ------------------------
  BODY
  ------------------------
*/
  #root .nav-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    padding: 15px 0;
  }

  #root .root-body {
    margin: 0 200px;
  }
/*
  -------------------------
  MENU
  -------------------------
*/
  .nav-menu .menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
  }

  .nav-menu .menu-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
/*
  -------------------------
  LIVE SEARCH
  -------------------------
*/
  .nav-menu .live-search {
    display: flex;
    gap: 10px;
  }

  .nav-menu .live-search input {
    padding: 6px
  }

  .nav-menu .live-search button {
    padding: 6px;
    border: none;
    border-radius: 3px;
  }

  /*
  ------------------------------
  GAME GALLERY
  ------------------------------
  */
    .games {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-top: 30px;
    }

    .games .game-thumb-wrap {
      margin: 0;
      padding: 10px;
      margin: 0;
      padding: 10px;
      box-shadow: 0px 0px 8px -2px black;
      border-radius: 6px;
    }

    .games .game-thumb {
      height: 160px;
      width: 250px;
      border-radius: 6px;
      margin-bottom: 5px;
    }

    .games .play-label {
      display: block;
      background: grey;
      color: white;
      text-align: center;
      padding: 7px;
      font-size: 17px;
      font-weight: 600;
      box-shadow: 0 0 4px 1px black;
      cursor: pointer;
    }

  /*
  -------------------------
    TIC TAC TOE
  -------------------------
  */
    .tic-tac-toe-wrap h1 {
      text-align: center;
    }

    .tic-tac-toe-wrap .game-action-wrap {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    .tic-tac-toe-wrap .game-action {
      padding: 10px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
    }

    .tic-tac-toe-wrap .start-game {
      background: green;
    }

    .tic-tac-toe-wrap .reset-game {
      background: blue;
    }

    .tic-tac-toe-wrap .end-game {
      background: red;
    }


/*
-------------------------
  GAMEBOARD
-------------------------
*/
    .gameboard {
      margin-top: 10px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }

    .gameboard .column-elements {
      border: 1px solid black;
      padding: 35px;
      margin: 1px;
      cursor: pointer;
      font-size: 20px;
    }

  /*
  -------------------------
    SNAKE GAME
  -------------------------
  */
    .snake-game-wrap h1 {
      text-align: center;
    }

    .snake-game-wrap .gameboard-inner {
      background-color: black;
      height: 200px;
      width: 230px;
      padding: 3px;
      position: relative;
    }

    .snake-game-wrap .game-action-wrap {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    .snake-game-wrap .game-action {
      padding: 10px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
    }

    .snake-game-wrap .start-game {
      background: green;
    }

    .snake-game-wrap .reset-game {
      background: blue;
    }

    .snake-game-wrap .end-game {
      background: red;
    }

    .snake-game-wrap .snake {
      height: 8px;
      width: 8px;
      background-color: white;
      position: absolute;
    }

    /*
  -------------------------
    TOWER OF HANOI
  -------------------------
  */
  .tower-of-hanoi-wrap h1 {
    text-align: center;
  }

  .tower-of-hanoi-wrap .game-action-wrap {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .tower-of-hanoi-wrap .game-action {
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
  }

  .tower-of-hanoi-wrap .start-game {
    background: green;
  }

  .tower-of-hanoi-wrap .reset-game {
    background: blue;
  }

  .tower-of-hanoi-wrap .end-game {
    background: red;
  }

  .tower-of-hanoi-wrap .gameboard {
    border: 1px solid black;
    width: 310px;
    height: 170px;
  }