/*
  ------------------------
  BODY
  ------------------------
*/
  #root .nav-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    padding: 15px 0;
  }

  #root .root-body {
    margin: 0 200px;
  }
/*
  -------------------------
  MENU
  -------------------------
*/
  .nav-menu .menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
  }

  .nav-menu .menu-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
/*
  -------------------------
  LIVE SEARCH
  -------------------------
*/
  .nav-menu .live-search {
    display: flex;
    gap: 10px;
  }

  .nav-menu .live-search input {
    padding: 6px
  }

  .nav-menu .live-search button {
    padding: 6px;
    border: none;
    border-radius: 3px;
  }

  /*
  -------------------------
    TIC TAC TOE
  -------------------------
  */
    .tic-tac-toe-wrap h1 {
      text-align: center;
    }

    .tic-tac-toe-wrap .game-action-wrap {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

    .tic-tac-toe-wrap .game-action {
      padding: 10px;
      border-radius: 3px;
      color: white;
      cursor: pointer;
    }

    .tic-tac-toe-wrap .start-game {
      background: green;
    }

    .tic-tac-toe-wrap .reset-game {
      background: blue;
    }

    .tic-tac-toe-wrap .end-game {
      background: red;
    }
/*
-------------------------
  GAMEBOARD
-------------------------
*/
    .gameboard {
      margin-top: 10px;
      position: absolute;
      left: 44%;
    }

    .gameboard .column-elements {
      border: 1px solid black;
      padding: 35px;
      margin: 1px;
      cursor: pointer;
      font-size: 20px;
    }

    .gameboard .row-elements {
      display: flex;
      gap: 1px;
    }